x-base-service: &base-service
  image: clickhouse/clickhouse-server:${CLICKHOUSE_VERSION:-23.6.2.18}
  environment:
    CLICKHOUSE_PASSWORD: "clickhouse_password"
  restart: always
  ulimits:
    nofile:
      soft: 262144
      hard: 262144
  healthcheck:
    test: ["CMD", "clickhouse-client", "-q", "SELECT 1"]
    interval: 30s
    timeout: 5s
    retries: 3

services:
  node1:
    <<: *base-service
    container_name: clickhouse-node1
    volumes:
      - "node1:/var/lib/clickhouse/"
      - "./clickhouse-config/node1/:/etc/clickhouse-server/config.d/"
    ports:
      - "127.0.0.1:8123:8123"
      - "127.0.0.1:9000:9000"
  node2:
    <<: *base-service
    container_name: clickhouse-node2
    volumes:
      - "node2:/var/lib/clickhouse/"
      - "./clickhouse-config/node2/:/etc/clickhouse-server/config.d/"
    ports:
      - "127.0.0.1:8124:8123"
      - "127.0.0.1:9001:9000"
  node3:
    <<: *base-service
    container_name: clickhouse-node3
    volumes:
      - "node3:/var/lib/clickhouse/"
      - "./clickhouse-config/node3/:/etc/clickhouse-server/config.d/"
    ports:
      - "127.0.0.1:8125:8123"
      - "127.0.0.1:9002:9000"
  node4:
    <<: *base-service
    container_name: clickhouse-node4
    volumes:
      - "node4:/var/lib/clickhouse/"
      - "./clickhouse-config/node4/:/etc/clickhouse-server/config.d/"
    ports:
      - "127.0.0.1:8126:8123"
      - "127.0.0.1:9003:9000"

  haproxy:
    image: haproxy:latest
    container_name: clickhouse-haproxy
    command: sh -c "haproxy -f /usr/local/etc/haproxy/haproxy.cfg"
    restart: always
    volumes:
      - "./proxy-config/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg"
    ports:
      - "127.0.0.1:8127:8123"
      - "127.0.0.1:9004:9000"
    depends_on:
      node1:
        condition: service_healthy
      node3:
        condition: service_healthy
    
volumes:
  node1:
    name: clickhouse-node1
  node2:
    name: clickhouse-node2
  node3:
    name: clickhouse-node3
  node4:
    name: clickhouse-node4

networks:
  default:
    name: clickhouse-net
