services:
  node1:
    image: clickhouse/clickhouse-server:23.6.2.18
    container_name: clickhouse-node1
    restart: always
    environment:
      - "CLICKHOUSE_DB=other"
    volumes:
      - "node1:/var/lib/clickhouse/"
      - "./clickhouse-config/node1/:/etc/clickhouse-server/config.d/"
    ports:
      - "127.0.0.1:9000:9000"
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "localhost:8123/ping"]
      interval: 30s
      timeout: 5s
  node2:
    image: clickhouse/clickhouse-server:23.6.2.18
    container_name: clickhouse-node2
    restart: always
    environment:
      - "CLICKHOUSE_DB=other"
    volumes:
      - "node2:/var/lib/clickhouse/"
      - "./clickhouse-config/node2/:/etc/clickhouse-server/config.d/"
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "localhost:8123/ping"]
      interval: 30s
      timeout: 5s
  node3:
    image: clickhouse/clickhouse-server:23.6.2.18
    container_name: clickhouse-node3
    restart: always
    environment:
      - "CLICKHOUSE_DB=other"
    volumes:
      - "node3:/var/lib/clickhouse/"
      - "./clickhouse-config/node3/:/etc/clickhouse-server/config.d/"
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "localhost:8123/ping"]
      interval: 30s
      timeout: 5s
  node4:
    image: clickhouse/clickhouse-server:23.6.2.18
    container_name: clickhouse-node4
    restart: always
    environment:
      - "CLICKHOUSE_DB=other"
    volumes:
      - "node4:/var/lib/clickhouse/"
      - "./clickhouse-config/node4/:/etc/clickhouse-server/config.d/"
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "localhost:8123/ping"]
      interval: 30s
      timeout: 5s
volumes:
  node1:
    name: clickhouse-node1
  node2:
    name: clickhouse-node2
  node3:
    name: clickhouse-node3
  node4:
    name: clickhouse-node4
networks:
  default:
    name: clickhouse-net