name: Pre-commit

on:
  pull_request:
    branches:
      - main

jobs:
  run-pre-commit:
    runs-on: ubuntu-22.04
    name: Linting on Python
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Set up Python3
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Lint with pre-commit
        uses: pre-commit/action@v3.0.1