name: Test before PR

on:
  workflow_run:
    workflows:
      - "Pre-commit"
    types:
      - completed

jobs:
  test:
    uses: ./.github/workflows/base-test.yml
    # https://docs.github.com/en/actions/using-workflows/reusing-workflows#passing-inputs-and-secrets-to-a-reusable-workflow
    secrets: inherit
